<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NLTH Cafe - {% block title %}Index{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="{{ url_for('static', filename='nlth2.css') }}" rel="stylesheet">
   
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">No Left Turn Here Cafe</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('sales', context='') }}">Stats</a></li>
					<li><a href="{{ url_for('sales', context='today') }}">Today</a></li>
					<li><a href="{{ url_for('sales', context='yesterday') }}">Yesterday</a></li>
					<li><a href="{{ url_for('help') }}">Help</a></li>
				</ul>
			</div>
		</div>
	</nav>

	 <div class="container-fluid">
      <div class="row">
        <!-- column 1 -->
        <div class="col-xs-3 col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('show_index') }}">Add Order</a></li>
            <li><a href="{{ url_for('add_item') }}">Add Item</a></li>
            <li><a href="{{ url_for('modify_item') }}">Change Item</a></li>
            <li><a href="{{ url_for('sales', context='') }}">Dashboard</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('sales', context='today') }}">Today's Sales</a></li>
            <li><a href="{{ url_for('sales', context='yesterday') }}">Yesterday's Sales</a></li>
            <li><a href="{{ url_for('help') }}">Instructions</a></li>
            <li><a href="mailto:abizerkl@gmail.com"><strong>The site isn't working!</strong></a></li>
          </ul>
          {% block left_sidebar_optional %}
          {% endblock %}
        </div>
        <!-- end column 1 -->
        <!-- column 2 -->
        <div class="col-xs-9 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 main">
          <h1 class="page-header">{% block page_title %}{% endblock %}</h1>
          
            {% block body %}
            {% endblock %}
          
        </div>
        <!-- end column 2 -->
        <!-- start column 3 -->
        <div class="col-md-2 sidebar-2">
          <div class="">
            <p> Please wait for the server to respond before clicking anything again. </p>
            <h3 class="alert_field"></h3>
              <div id="transaction_list">
              </div>
          </div>
        </div>
        <!-- end column 3 -->
      </div>
    </div>

  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
      <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css"  rel="stylesheet" />
      <script src="{{ url_for('static', filename='nlth2.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
